html, body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#myPage {
	width: 100%;
	height: 100%;
}

#mainNav {
	width: 150px;
	height: 100%;
	position: fixed;
}

#nav-def {
	height: 100%;
}

.nav-hr {
	display: block;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) 
{
  #mainNav {
    border-color: transparent;
    background-color: transparent;
	}
	
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
	}
	
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
	}
	
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
	}
	
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
	}
	
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

#main_content {
	height: 100%;
	width: 100%;
	padding-left: 150px;
}

#top1 {
	width: 100%;
	height: auto;
	padding-top: 150px;
	padding-bottom: 100px;
	color: white;
	background: url("../assets/1.jpg") scroll;
	text-align: center;
}

#top2 {
	width: 100%;
	height: auto;
	padding-top: 150px;
	padding-bottom: 100px;
	color: black;
	background: url("../assets/2.jpg") scroll;
	background-size: cover;
}

#top3 {
	width: 100%;
	height: auto;
	padding-top: 150px;
	padding-bottom: 100px;
	color: black;
	background: url("../assets/3.jpeg") scroll;
	background-size: cover;
	color: azure;
}

#aboutme {
	height: auto;
	width: 100%;
	background: url("../assets/4.jpg") no-repeat  center scroll;
	background-size: cover;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.head_title {
	font-style: italic;
	font-size: 50px;
	color: black;
}

#passion {
	height: auto;
	width: 100%;
	border-radius: 0px 1px;
	padding-top: 50px;
	padding-bottom: 50px;	
}

#places {
	height: auto;
	width: 100%;
	border-radius: 0px 1px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("../assets/5.jpg") no-repeat  center scroll;
	background-size: cover;
}

#mapdiv {
	width: 1200px;
	height: 500px;
	overflow: hidden;
}

#education {
	height: auto;
	width: 100%;
	background: url("../assets/6.jpg") scroll;
	color: white;
	padding-bottom: 50px;
}

#education .space {
	background-color: black;
	border: 2px solid red;
  	border-radius: 25px;
  	margin-bottom: 20px;
  	padding-left: 20px 20px 20px 20px;
  	text-align: center;
}

#experience {
	height: auto;
	width: 100%;
	background: url("../assets/7.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; 
	color: black;
	padding-bottom: 50px;
	font-size: 16px;
}

#experience #exper {
	background-color: transparent;
}

#skills {
	height: auto;
	width: 100%;
	background: url("../assets/8.jpeg") no-repeat center center fixed;
	background-size: cover; 
	color: black;
	padding-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: grey;
    border-radius: 25px;
}

.my-bar1 {
    width: 100%;
    height: 30px;
    background-color: green;
    border-radius: 25px;
}

.my-bar2 {
	width: 80%;
    height: 30px;
    background-color: navy;
    border-radius: 25px;
}

.my-bar3 {
	width: 50%;
    height: 30px;
    background-color: purple;
    border-radius: 25px;
}

.my-bar4 {
	width: 30%;
    height: 30px;
    background-color: red;
    border-radius: 25px;
}

#projects {
	height: auto;
	width: 100%;
	background: url("../assets/9.jpg") no-repeat center center fixed;
	background-size: cover;
	color: black;
}

.head_t {
	font-style: italic;
	font-size: 50px;
	color: white;
	padding-top: 50px;
}

#parents {
	height: auto;
	width: 100%;
	border-radius: 0px 1px;
/*	background: url("../assets/10.jpg") no-repeat center center fixed;;
    -webkit-background-size: cover;*/
    background-color: black;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

/* start slide show css */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1 .mySlides2 .mySlides3 .mySlides4 .mySlides5 .mySlides6 .mySlides7 .mySlides8 .mySlides9 .mySlides10 {
	width: 100px;
	height: 100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* end slide show css */


#siblings {
	height: auto;
	width: 100%;
	background-color: red;	
/*	background: url("../assets/11.jpg") no-repeat center center fixed;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
}

#friends {
	height: auto;		
	width: 100%;
	background: url("../assets/12.jpg") no-repeat center center fixed;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
}

.myFooter {
	background-color: #373a48;
	color:white;
	border-radius: 0;
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.myFooter .creator {
	text-align: center;
	padding-top: 10px;
}

.myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

.myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

.myFooter .social-networks{
	text-align: center;
	padding-bottom: 10px;
}

.myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.myFooter .social-networks a:hover{
	text-decoration: none;
}

.myFooter .facebook:hover{
	color:#0077e2;
}

.myFooter .linkedin:hover{
	color:#ef1a1a;
}

.myFooter .twitter:hover{
	color: #00aced;
}

