html, body {
	width: 100%;
	height: 100%;
}

#myPage {
	width: 100%;
	height: 100%;
	margin-left:auto;
    margin-right:auto;
}

#mainNav {
	width: 200px;
    height: 100%;
    position: fixed;
    background-color: blue;
    float: left;
}

#nav-def {
	height: 100%;
}

.nav-hr {
	display: block;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) 
{
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

#main_content {
	height: auto;
	width: auto;
	padding-left: 100px;
}

#top1 {
	width: auto;
	height: auto;
	padding: 100px;
	color: white;
	background: url("assets/aboutme.jpg") scroll;
	text-align: center;
}

#top2 {
	width: auto;
	height: auto;
	padding: 100px;
	color: black;
	background: url("assets/4.jpg") scroll;
	background-size: cover;
}

#top3 {
	width: auto;
	height: auto;
	padding: 100px;
	color: black;
	background: url("assets/4.jpg") scroll;
	background-size: cover;
}

#aboutme {
	height: 100%;
	width: 100%;
	background: url("assets/intro.jpg") no-repeat  center scroll;
	background-size: cover;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.head_title {
	font-style: italic;
	font-size: 50px;
	color: black;
}

#passion {
	height: auto;
	width: 100%;
	border-radius: 0px 1px;
	padding-top: 50px;
	padding-bottom: 50px;	
}

#places {
	height: auto;
	width: 100%
	border-radius: 0px 1px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("assets/intro.jpg") scroll;
}

#mapdiv {
	width: 1200px;
	height: 500px;
	overflow: hidden;
}

#education {
	height: auto;
	width: 100%;
	background: url("assets/2.jpg") scroll;
	color: white;
	padding-bottom: 50px;
}

#education #space {
	background-color: black;
	border: 2px solid red;
    border-radius: 25px;
}

#experience {
	height: auto;
	width: auto;
	background: url("assets/1.jpg") scroll;
	color: white;
	padding-bottom: 50px;
}

#experience #exper {
	background-color: transparent;
}

#skills {
	height: auto;
	width: auto;
	background: url("assets/3.jpg") scroll;
	color: white;
	padding-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: grey;
    border-radius: 25px;
}
.my-bar1 {
    width: 100%;
    height: 30px;
    background-color: green;
    border-radius: 25px;
}

.my-bar2 {
	width: 80%;
    height: 30px;
    background-color: navy;
    border-radius: 25px;
}

.my-bar3 {
	width: 50%;
    height: 30px;
    background-color: purple;
    border-radius: 25px;
}

.my-bar4 {
	width: 30%;
    height: 30px;
    background-color: red;
    border-radius: 25px;
}

#projects {
	height: 700;
	width: auto;
	background: url("assets/12.jpg") scroll;
	background-color: black;
	color: black;
}

.head_t {
	font-style: italic;
	font-size: 50px;
	color: white;
	padding-top: 50px;
}

#parents {
	height: 500px;
	width: 100%;
	border-radius: 0px 1px;
	background-color: blue;	
}

.MySlides, .MySlides1, .MySlides2, .MySlides3, .MySlides4, .MySlides5, .MySlides6, .MySlides7, .MySlides8, .MySlides9, 
{
	display: none;
	vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
 }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


#siblings {
	height: 500px;
	width: 100%;
	background-color: red;	
}
#friends {
	height: 1000px;		
	width: auto;
	background-color: yellow;
}

div {
	display: block;
}

.myFooter {
	background-color: #373a48;
	color:white;
	border-radius: 0;
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}
.myFooter .creator {
	text-align: center;
	padding-top: 10px;
}

.myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}
.myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}
.myFooter .social-networks{
	text-align: center;
	padding-bottom: 10px;
}
.myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
.myFooter .social-networks a:hover{
	text-decoration: none;
}
.myFooter .facebook:hover{
	color:#0077e2;
}
.myFooter .linkedin:hover{
	color:#ef1a1a;
}
.myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 1300px){
	body {
		width: 100%;
	}
	#mainNav {
		width: 120px;
	}
	#main_conten {
		overflow: visible;
	}
}

@media screen and (max-width: 1000px){
	body {
		width: 100%;
	}
	#mainNav {
		width: 100px;
	}
	#main_conten {
		overflow: visible;
	}
}

@media screen and (max-width: 320px){
	body {
		width: 320px;
	}
	#mainNav {
		width: 100px;
	}
	#main_conten {
		overflow: visible;
	}
}





