html, body {
	width: 100%
	height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

#mainNav {
	width: 200px;
    height: 100%;
    position: fixed;
    float: left;
}

.nav-hr {
	display: block;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) 
{
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

#top1 {
	width: auto;
	height: auto;
	padding: 100px;
	padding-left: 20px;
	color: white;
	background: url("assets/aboutme.jpg") no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-left: 200px;
}

#top2 {
	width: auto;
	height: auto;
	padding: 100px;
	padding-left: 20px;
	color: black;
	background: url("assets/4.jpg") no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-left: 200px;
}

#top3 {
	width: auto;
	height: auto;
	padding: 100px;
	padding-left: 20px;
	color: black;
	background: url("assets/4.jpg") no-repeat bottom center scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-left: 200px;
}

.marg {
	margin-left: -20px;
	padding-left: -20px;
}

#aboutme {
	height: 100%;
	width: 100%;
	background: url("assets/intro.jpg") no-repeat  center scroll;
	background-size: cover;
	margin-left: 200px;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.head_title {
	font-style: italic;
	font-size: 50px;
	color: black;
}

#passion {
	height: auto;
	width: 100%;
	border-radius: 0px 1px;
	margin-left: 200px;
	padding-top: 50px;
	padding-bottom: 50px;	
}

#places {
	height: auto;
	width: 100%
	border-radius: 0px 1px;
	margin-left: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("assets/intro.jpg") scroll;

}


#education {
	height: auto;
	width: auto;
	background: url("assets/2.jpg") no-repeat  center scroll;
	color: white;
	margin-left: 200px;
}

#education #space {
	background-color: black;
	margin-bottom: 20px;
	border: 2px solid red;
    border-radius: 25px;
}

#experience {
	height: auto;
	width: auto;
	background: url("assets/1.jpg") scroll;
	margin-left: 200px;
	color: white;
}

#experience #exper {
	background-color: transparent;
}

#skills {
	height: auto;
	width: auto;
	background: url("assets/3.jpg") scroll;
	margin-left: 200px;
	color: white;
}

.head_t {
	font-style: italic;
	font-size: 50px;
	color: white;
	padding-top: 50px;
}

#parents {
	height: 500px;
	width: 100%;
	border-radius: 0px 1px;
	background-color: red;
	margin-left: 200px;
	
}
#siblings {
	height: 500px;
	width: 100%
	background-color: red;
	margin-left: 200px;
	
}
#friends {
	height: auto;		
	width: auto;
	background-color: red;
	margin-left: 200px;
}


.myFooter {
	background-color: #373a48;
	color:white;
	border-radius: 0;
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    margin-left: 200px;
}

.myFooter .creator {
	text-align: center;
	padding-top: 10px;
}

.myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

.myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

.myFooter .social-networks{
	text-align: center;
	padding-bottom: 10px;
}

.myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.myFooter .social-networks a:hover{
	text-decoration: none;
}

.myFooter .facebook:hover{
	color:#0077e2;
}

.myFooter .linkedin:hover{
	color:#ef1a1a;
}

.myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	.myFooter {
		text-align: center;
	}
}
